**Series: 0 1 4 27 16 125...**

In [3]:
n=int(input())
for i in range(n+1):
    if(i%2==0):
        print(i*i,end=' ')
    else:
        print(i*i*i,end=' ')

9
0 1 4 27 16 125 36 343 64 729

**Series: 0 2 8 14 24 34 58 62 80 98**

In [4]:
a=int(input())
for i in range(1,a+1):
    if(i<7 or i>7):
        if(i%2==0):
            print(i*i-2,end=' ')
        else:
            print(i*i-1,end=' ')
    else:
        print((i*i-1)+10,end=' ')

10
0 2 8 14 24 34 58 62 80 98

**Series: 4->20 3->6 7->42 10->110**

In [11]:
n=int(input())
for i in range(n):
    i=int(input())
    if(i%2==0):
        print(i*(i+1))
    else:
        print(i*(i-1))

4
4
20
3
6
7
42
10
110

**Series:1 4 8 11 15 sum:15**

In [12]:
n=int(input())
s1=1
for i in range(1,n+1):
    if(i%2!=0):
        print(s1,end=' ')
        if(i!=n):
            s1=s1+3
    else:
        print(s1,end=' ')
        if(i!=n):
            s1=s1+4
print()
print("Sum of series:",s1)

5
1 4 8 11 15
Sum of series: 15